body {
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 250px;
}

.relative-position, .fixed-position, .absolute-position, .sticky-position {
    width: 250px;
    border: 2px solid black;
    margin: 15px;
}

/*THIS IS WHERE THE PRACTICE STARTS*/
.relative-position {
    position: relative;
    left: 25px;
    bottom: 25px;
    /* z-index: 1; */
}

.fixed-position {
    position: fixed;
    top: 0px;
    left: 300px;

}

/* .absolute-position {
    position: absolute;
} */

.ancestor {
    height: 200px;
    border: 2px solid black;
    position: relative;
}

.child {
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sticky-position {
    position: sticky;
    top: 20px;
}

.row {
    height: 50vh;
    margin-bottom: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;

}

.row img {
    /* width: 300px; */
    height: 25vh;
}

.column {
    height: 75vh;
    border: 2px solid #56563A;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    
}

.overflow-section {
    margin-top: 150px;
}

.overflow-box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 0 auto;
    overflow: scroll;
    box-shadow: 5px 5px 3px /*blur radius is the 3px*/ violet;
}

