body {
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 250px;
}

.relative-position, .fixed-position, .absolute-position, .sticky-position {
    width: 250px;
    border: 2px solid black;
    margin: 15px;
}

/*THIS IS WHERE THE PRACTICE STARTS*/
.relative-position {
    position: relative;
    left: 25px;
    bottom: 25px;
    /* z-index: 1; */
}

.fixed-position {
    position: fixed;
    top: 0px;
    left: 300px;

}

/* .absolute-position {
    position: absolute;
} */

.ancestor {
    height: 200px;
    border: 2px solid black;
    position: relative;
}

.child {
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sticky-position {
    position: sticky;
    top: 20px;
}

.row {
    margin-bottom: 150px;
}

.overflow-section {
    margin-top: 150px;
}

.overflow-box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 0 auto;
}

